@media screen and (hover: none) and (pointer: coarse) {
    body {
        margin: 75px auto 130px;
    }

    #titleArea {
        margin: auto auto 50px;
        font-size: 32px;
    }

    #mapArea {
        width: max-content;
        margin: auto auto 125px;
    }

    #mapArea, #controlArea {
        transform: scale(0.9);
    }
}

@media screen and (hover: hover) and (pointer: fine),
(hover: none) and (pointer: coarse) and (min-width: 500px) {
    body {
        width: 400px;
        margin: 90px auto 140px;
    }

    #titleArea {
        margin: auto auto 70px;
        font-size: 34px;
    }

    #mapArea {
        width: max-content;
        margin: auto auto 140px;
    }
}

* {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: transparent;
}

body {
    text-align: center;
    background-image: url('../media/TriangleBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#titleArea {
    width: 95%;
    font-family: 'PlayfairDisplay', serif;
    transform: scale(1.05, 1);
    background-color: red;
}