@media screen and (hover: none) and (pointer: coarse) {
    body {
        width: 95%;
    }

    #titleArea {
        font-size: 32px;
    }
}

@media screen and (hover: hover) and (pointer: fine),
(hover: none) and (pointer: coarse) and (min-width: 500px) {
    body {
        width: 100%;
    }

    #titleArea {
        font-size: 34px;
    }
}

* {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 100px auto 150px;
    text-align: center;
    background-image: url('../media/TriangleBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#titleArea {
    margin: auto auto 70px;
    font-family: 'PlayfairDisplay', serif;
    transform: scale(1.05, 1);
}