@media screen and (hover: none) and (pointer: coarse) {
    body {
        margin: 75px auto 130px;
    }

    #titleArea {
        margin: auto auto 50px;
        font-size: 32px;
    }

    #mapArea {
        width: max-content;
        margin: auto auto 125px;
    }

    #mapArea, #controlArea {
        transform: scale(0.9);
    }
}

@media screen and (hover: hover) and (pointer: fine),
(hover: none) and (pointer: coarse) and (min-width: 500px) {
    body {
        max-width: 500px;
        min-height: 100vh;
        padding: 50px 0 0px;
    }

    #titleArea {
        margin-bottom: 70px;
        font-size: 34px;
    }

    #mapArea {
        margin-bottom: 0px;
        width: max-content;
    }
}

* {
    position: relative;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

audio {
    volume: 0.5;
}

#titleArea {
    width: 95%;
    font-family: 'PlayfairDisplay', serif;
    transform: scale(1.05, 1);
}