#controlArea {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 310px;
    height: 310px;
    opacity: 0.9;
}

.circle {
    width: 71px;
    height: 71px;
    position: absolute;
    background-image: url('../media/Circle.png');
}

.controlZone {
    width: 71px;
    height: 71px;
    padding-top: 120px;
    position: absolute;
    background-image: url('../media/Arrow.png');
    background-size: 71px;
    background-position: center;
    cursor: pointer;
}

.arrowUp {
    top: 40px;
}

.arrowDown {
    bottom: 40px;
    transform: rotate(180deg);
}

.arrowLeft {
    left: 60px;
    transform: rotate(-90deg);
}

.arrowRight {
    right: 60px;
    transform: rotate(90deg);
}

.arrowUp:active, .arrowUp.active {
    transform: translate(0, -5px);
}

.arrowDown:active, .arrowDown.active {
    transform: rotate(180deg) translate(0, -5px);
}

.arrowLeft:active, .arrowLeft.active {
    transform: rotate(-90deg) translate(0, -5px);
}

.arrowRight:active, .arrowRight.active {
    transform: rotate(90deg) translate(0, -5px);
}