#controlArea {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 300px;
    opacity: 0.9;
}

.circle {
    width: 71px;
    height: 71px;
    position: absolute;
    background-image: url('../media/Circle.png');
}

.controlZone {
    width: 71px;
    height: 71px;
    padding-top: 100px;
    position: absolute;
    background-image: url('../media/Arrow.png');
    background-size: 71px;
    background-position: center;
    cursor: pointer;
}

.arrowup {
    top: 50px;
}

.arrowdown {
    bottom: 50px;
    transform: rotate(180deg);
}

.arrowleft {
    left: 60px;
    transform: rotate(-90deg);
}

.arrowright {
    right: 60px;
    transform: rotate(90deg);
}

.arrowup:active, .arrowup.active {
    transform: translate(0, -5px);
}

.arrowdown:active, .arrowdown.active {
    transform: rotate(180deg) translate(0, -5px);
}

.arrowleft:active, .arrowleft.active {
    transform: rotate(-90deg) translate(0, -5px);
}

.arrowright:active, .arrowright.active {
    transform: rotate(90deg) translate(0, -5px);
}