@font-face {
    font-family: 'Playfair Display';
    src: url('asset/PlayfairDisplay.ttf');
}

body {
    margin: 100px 50px 150px 50px;
    text-align: center;
    background-image: url('asset/TriangleBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#titleArea {
    margin: 70px auto;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    transform: scale(1.05, 1);
}

#playArea {
    width: fit-content;
    margin: 70px auto;
    position: relative;
}

#tankArea {
    width: 60px;
    height: 60px;
    position: absolute;
    transition: all .3s ease-out;
}

#tank {
    width: 50px;
    height: 51px;
    position: absolute;
    left: 6px;
    top: 8px;
}

#castleArea {
    width: 60px;
    height: 60px;
    position: absolute;
}

#castle {
    width: 52px;
    height: 52px;
    position: absolute;
    left: 5px;
    top: 5px;
}

#bombArea {
    width: 60px;
    height: 60px;
    position: absolute;
}

#bomb {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 11px;
    left: 9px;
    visibility: hidden;
}

#explosionArea {
    width: 60px;
    height: 60px;
    position: absolute;
}

#explosion {
    width: 53px;
    height: 53px;
    position: absolute;
    left: 4px;
    top: 5px;
}

#fireworkArea {
    width: 60px;
    height: 60px;
    position: absolute;
}

#firework {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 6px;
    top: 5px;
}

table {
    width: fit-content;
    position: relative;
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid darkgray;
    border-radius: 3px;
}

td {
    width: 58px;
    height: 58px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#controlArea {
    width: fit-content;
    margin: auto;
    position: relative;
    left: -20px;
}

.arrow {
    position: absolute;
    width: 45px;
    height: 45px;
}

#arrowdown {
    top: 100px;
}

#arrowleft {
    top: 48px;
    left: -60px;
}

#arrowright {
    top: 48px;
    left: 60px;
}

#arrowup:active {
    transform: translateY(-4px);
}

#arrowdown:active {
    transform: translateY(4px);
}

#arrowleft:active {
    transform: translateX(-4px);
}

#arrowright:active {
    transform: translateX(4px);
}