#titleArea {
    margin: 70px auto;
    font-family: 'PlayfairDisplay', serif;
    font-size: 35px;
    transform: scale(1.05, 1);
}

#playArea {
    width: fit-content;
    margin: 70px auto;
    position: relative;
}

#tankArea {
    width: 60px;
    height: 60px;
    position: absolute;
    transition: all 0.5s ease-out;
}

#tank {
    width: 50px;
    height: 51px;
    position: absolute;
    left: 6px;
    top: 8px;
}

#castleArea {
    width: 60px;
    height: 60px;
    position: absolute;
}

#castle {
    width: 52px;
    height: 52px;
    position: absolute;
    left: 5px;
    top: 5px;
}

#bombArea {
    width: 60px;
    height: 60px;
    position: absolute;
    visibility: hidden;
}

#bomb {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 11px;
    left: 9px;
}

#explosionArea {
    width: 60px;
    height: 60px;
    position: absolute;
    opacity: 0;
    animation: fadeIn 0.8s linear;
    animation-fill-mode: forwards;
}

#explosion {
    width: 53px;
    height: 53px;
    position: absolute;
    left: 4px;
    top: 5px;
}

#fireworkArea {
    width: 60px;
    height: 60px;
    position: absolute;
    opacity: 0;
    animation: fadeIn 1.1s linear;
    animation-fill-mode: forwards;
}

#firework {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 6px;
    top: 5px;
}

table {
    width: fit-content;
    position: relative;
    table-layout: fixed;
    border: 2px solid darkgray;
    border-radius: 3px;
    border-collapse: collapse;
}

td {
    width: 58px;
    height: 58px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#controlArea {
    width: 200px;
    margin: auto;
    position: relative;
    left: -20px;
}

.arrowup, .arrowdown, .arrowleft, .arrowright {
    width: 45px;
    height: 45px;
    position: absolute;
    cursor: pointer;
    border: none;
    background-image: url('asset/Arrow.png');
    background-size: cover;
    color: transparent;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

.arrowdown {
    margin-top: 100px;
    transform: rotate(180deg);
}

.arrowleft {
    margin: 48px 0 0 -50px;
    transform: rotate(-90deg);
}

.arrowright {
    margin: 48px 0 0 50px;
    transform: rotate(90deg);
}

.arrowup:active, .arrowup.active {
    transform: translate(0, -5px);
}

.arrowdown:active, .arrowdown.active {
    transform: rotate(180deg) translate(0, -5px);
}

.arrowleft:active, .arrowleft.active {
    transform: rotate(-90deg) translate(0, -5px);
}

.arrowright:active, .arrowright.active {
    transform: rotate(90deg) translate(0, -5px);
}